{% extends 'LinkMarket/seller/dash2.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/products.css" %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>products | dashboard</title>
  </head>
  <body>
    <div class="display">
      <div class="container">
        <h2>Products</h2>
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Sold</th>
              <th>Image</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td>{{ product.sold }}</td>
              <td>
                {% if product.image %}
                <img
                  src="{{ product.image.url }}"
                  alt="{{ product.name }}"
                  style="width: 40px; height: 50px"
                />
                {% else %} No Image {% endif %}
              </td>
              <td class="tablerow">
                <a href="{% url 'product_edit' product.id %}" class="link">
                  <img src="{% static "images/edit.svg" %}" alt="" class="icons">
                </a>
                <a href="{% url 'product_detail' product.id %} ">
                  <img src="{% static "images/view.svg" %}" alt="" class="icons">
                </a>
                <a href="{% url 'product_delete' product.id %}" class="link">
                  <img src="{% static "images/delete.svg" %}" alt="" class="icons">
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
  
        </table>

        <div id="pagination">
          <!-- Pagination buttons will be inserted here -->
        </div>
      </div>
    </div>
  </script>
</body>
</html>
{% endblock %}
